.input-field-input {
  background-color: #ECEFF1;
  border-radius: 4px;
  border: none;
  padding-left: 16px;
  width: 376px;
  height: 40px;
  font-size: 12px;
  box-shadow: none;
  outline: none;
}

.input-field-input:invalid {
  background-color: #fce8ef;
  border-color: #fce8ef;
  text-decoration: none;
}

.input-field-label {
  padding-bottom: 8px;
  font-size: 16px;
  color: #526770;
}

.input-field-invalid-text {
  padding-top: 5px;
  font-size: 16px;
  color: transparent;
}

.input-field-input:invalid + .input-field-invalid-text {
  color: #ec5959;
}
